Repository sveltejs/svelte, pull requests merged in 2020-08, with the labels that each got.

#5243 Mention "import type" in TypeScript FAQ
  site/content/faq/500-what-about-typescript-support.md
Labels: site: docs

#5141 Add docs and example for `bind:files`
  site/content/docs/02-template-syntax.md
  site/content/examples/05-bindings/05-file-inputs/App.svelte
  site/content/examples/05-bindings/05-file-inputs/meta.json
  site/content/examples/05-bindings/06-select-bindings/App.svelte
  site/content/examples/05-bindings/06-select-bindings/meta.json
  site/content/examples/05-bindings/07-multiple-select-bindings/App.svelte
  site/content/examples/05-bindings/07-multiple-select-bindings/meta.json
  site/content/examples/05-bindings/08-each-block-bindings/App.svelte
  site/content/examples/05-bindings/08-each-block-bindings/meta.json
  site/content/examples/05-bindings/09-media-elements/App.svelte
  site/content/examples/05-bindings/09-media-elements/meta.json
  site/content/examples/05-bindings/10-dimensions/App.svelte
  site/content/examples/05-bindings/10-dimensions/meta.json
  site/content/examples/05-bindings/11-bind-this/App.svelte
  site/content/examples/05-bindings/11-bind-this/meta.json
  site/content/examples/05-bindings/12-component-bindings/App.svelte
  site/content/examples/05-bindings/12-component-bindings/Keypad.svelte
  site/content/examples/05-bindings/12-component-bindings/meta.json
  site/static/examples/thumbnails/file-inputs.jpg
Labels: site: docs, site: examples

#5180 Adding Rich Harris's Frontend Masters course on FAQ page
  site/content/faq/200-are-there-any-video-courses.md
Labels: site: docs

#5175 Fixes #5165 REPL on iOS: Input/output toggle is only visible after awk…
  site/src/components/Repl/InputOutputToggle.svelte
  site/src/components/Repl/ReplWidget.svelte
  site/src/routes/_layout.svelte
  site/src/routes/repl/[id]/_components/AppControls/index.svelte
  site/src/routes/repl/[id]/index.svelte
  site/src/routes/repl/embed.svelte
Labels: site: REPL

#4602 $$slots to check whether slots is provided
  CHANGELOG.md
  src/compiler/compile/render_dom/Renderer.ts
  src/compiler/compile/render_dom/index.ts
  src/compiler/compile/render_dom/wrappers/Slot.ts
  src/compiler/compile/render_ssr/handlers/Slot.ts
  src/compiler/compile/render_ssr/index.ts
  src/compiler/compile/utils/reserved_keywords.ts
  src/runtime/internal/utils.ts
  test/js/samples/capture-inject-state/expected.js
  test/js/samples/debug-empty/expected.js
  test/js/samples/debug-foo-bar-baz-things/expected.js
  test/js/samples/debug-foo/expected.js
  test/js/samples/debug-hoisted/expected.js
  test/js/samples/debug-no-dependencies/expected.js
  test/js/samples/debug-ssr-foo/expected.js
  test/js/samples/dev-warning-missing-data-computed/expected.js
  test/js/samples/loop-protect/expected.js
  test/js/samples/ssr-no-oncreate-etc/expected.js
  test/js/samples/ssr-preserve-comments/expected.js
  test/runtime/samples/$$slot/A.svelte
  test/runtime/samples/$$slot/_config.js
  test/runtime/samples/$$slot/main.svelte
Labels: feature: slot

#5149 Await: re-throw error when there is no catch block and promise is rejected
  src/compiler/compile/render_dom/wrappers/AwaitBlock.ts
  src/runtime/internal/await_block.ts
  test/runtime/samples/await-without-catch/_config.js
  test/runtime/samples/await-without-catch/main.svelte
Labels: feature: await

#5289 each binding with store props
  CHANGELOG.md
  src/compiler/compile/render_dom/Block.ts
  src/compiler/compile/render_dom/wrappers/EachBlock.ts
  test/runtime/samples/store-each-binding-deep/_config.js
  test/runtime/samples/store-each-binding-deep/main.svelte
Labels: feature: each
