Repository sveltejs/svelte, pull requests merged in 2020-09, with the labels that each got.

#5354 Update site dependencies
  site/package-lock.json
  site/package.json
  site/rollup.config.js
Labels: dependencies, site

#5309 site: Replace "active" with "selected" as an example class name
  site/content/tutorial/13-classes/01-classes/app-a/App.svelte
  site/content/tutorial/13-classes/01-classes/app-b/App.svelte
  site/content/tutorial/13-classes/01-classes/text.md
Labels: site: tutorial

#5368 update docs for `$$props` and `$$restProps`
  site/content/docs/02-template-syntax.md
Labels: site: docs

#5380 Standardize site building command
  site/Makefile
  site/README.md
  site/package.json
Labels: site

#5396 Update 200-are-there-any-video-courses.md
  site/content/faq/200-are-there-any-video-courses.md
Labels: site: docs

#5342 Scrollbar fix
  site/src/routes/_layout.svelte
  site/src/routes/repl/[id]/index.svelte
Labels: site

#5231 tutorial: update text editor configuration recommendation
  site/content/tutorial/01-introduction/07-making-an-app/text.md
Labels: site: tutorial

#4295 allow <slot> to be part of a slot
  CHANGELOG.md
  src/compiler/compile/render_dom/wrappers/Element/create_slot_block.ts
  src/compiler/compile/render_dom/wrappers/Element/index.ts
  src/compiler/compile/render_dom/wrappers/Slot.ts
  src/compiler/compile/render_ssr/handlers/Slot.ts
  test/runtime/samples/component-slot-nested-in-slot/One.svelte
  test/runtime/samples/component-slot-nested-in-slot/Two.svelte
  test/runtime/samples/component-slot-nested-in-slot/_config.js
  test/runtime/samples/component-slot-nested-in-slot/main.svelte
Labels: feature: slot

#5269 add typings to `get_store_value`
  CHANGELOG.md
  src/compiler/compile/index.ts
  src/runtime/internal/utils.ts
Labels: feature: typescript
