Repository sveltejs/svelte, pull requests merged in 2020-07, with the labels that each got.

#5100 make builds time out after a reasonable period
  .github/workflows/ci.yml
Labels: meta

#5094 Simplify each block bindings example
  site/content/examples/05-bindings/07-each-block-bindings/App.svelte
Labels: site: examples

#5163 site: explain how to use `site-kit` and `site-repl`
  site/README.md
Labels: site

#5101 Initial stab at a TypeScript blog post
  site/content/blog/2020-07-17-svelte-and-typescript.md
  site/static/media/svelte-ts.png
Labels: feature: typescript, site: blog post

#5171 Clarify noun regarding svelte-self example
  site/content/tutorial/16-special-elements/01-svelte-self/text.md
Labels: site: tutorial
