Repository sveltejs/svelte, pull requests merged in 2020-12, with the labels that each got.

#5729 Add clarification on what makes a reactive block reactive to docs.
  site/content/docs/01-component-format.md
Labels: site: docs

#5761 Changing hex codes to colour names to improve readability of the tutorial.
  site/content/tutorial/04-logic/05-keyed-each-blocks/app-a/App.svelte
  site/content/tutorial/04-logic/05-keyed-each-blocks/app-b/App.svelte
Labels: site: tutorial

#5744 Update testing FAQ
  site/content/faq/800-how-do-i-test-svelte-apps.md
Labels: site: docs

#5751 Remove duplicate sentence
  site/content/docs/02-template-syntax.md
Labels: site: docs

#5629 Update ScreenToggle.svelte
  site/src/components/ScreenToggle.svelte
Labels: site

#5787 Fix formatMobile to account for aughts
  site/content/examples/12-svg/02-bar-chart/App.svelte
  site/content/examples/12-svg/03-area-chart/App.svelte
Labels: site: examples

#5715 site a11y: add missing h1s
  site/src/routes/blog/index.svelte
  site/src/routes/docs/index.svelte
  site/src/routes/examples/index.svelte
  site/src/routes/index.svelte
  site/static/global.css
Labels: site: a11y+theme

#5824 site: remove cypress leftovers and upgrade dependencies
  site/appveyor.yml
  site/cypress.json
  site/package-lock.json
  site/package.json
  site/rollup.config.js
Labels: site
