Repository sveltejs/svelte, pull requests merged in 2020-11, with the labels that each got.

#5635 docs: broken link to easing function
  site/content/docs/03-run-time.md
Labels: site: docs

#5681 docs: increase syntax highlighting color contrast
  site/static/prism.css
Labels: site

#5513 tutorial: remove unnecessary call performance.now() inside raf
  site/content/tutorial/06-bindings/12-bind-this/app-a/App.svelte
  site/content/tutorial/06-bindings/12-bind-this/app-b/App.svelte
Labels: site: tutorial

#5383 Adds conditional slot example
  site/content/examples/15-composition/04-conditional-slots/App.svelte
  site/content/examples/15-composition/04-conditional-slots/Profile.svelte
  site/content/examples/15-composition/04-conditional-slots/meta.json
  site/content/examples/15-composition/05-modal/App.svelte
  site/content/examples/15-composition/05-modal/Modal.svelte
  site/content/examples/15-composition/05-modal/meta.json
Labels: site: examples

#5690 Add hasContext lifecycle function
  site/content/docs/03-run-time.md
  src/runtime/internal/lifecycle.ts
Labels: proposal

#5685 fix order of html tags when if in key block
  CHANGELOG.md
  src/compiler/compile/render_dom/wrappers/KeyBlock.ts
  test/runtime/samples/key-block-static-if/_config.js
  test/runtime/samples/key-block-static-if/main.svelte
Labels: feature: each
