Repository sveltejs/svelte, pull requests merged in 2021-07, with the labels that each got.

#6459 [docs] "What's new in Svelte" July newsletter
  site/content/blog/2021-07-01-whats-new-in-svelte-july-2021.md
Labels: docs

#6448 [docs] Update auto-subscriptions tutorial to explicitly say that subscribe returns unsubscribe
  site/content/tutorial/08-stores/02-auto-subscriptions/text.md
Labels: docs

#6453 [docs] added transition on toggling folder in tutorial
  site/content/examples/17-special-elements/00-svelte-self/Folder.svelte
Labels: docs

#5912 Trackpad and touch support in media example
  site/content/examples/05-bindings/09-media-elements/App.svelte
  site/content/tutorial/06-bindings/10-media-elements/app-a/App.svelte
  site/content/tutorial/06-bindings/10-media-elements/app-b/App.svelte
  site/content/tutorial/06-bindings/10-media-elements/text.md
Labels: docs

#6054 Remove misleading a11y caption warning on <audio>
  src/compiler/compile/nodes/Element.ts
  test/validator/samples/a11y-media-has-caption/input.svelte
  test/validator/samples/a11y-media-has-caption/warnings.json
Labels: compiler

#6420 [docs] Add tutorial step for key blocks
  site/content/tutorial/10-transitions/09-key-blocks/app-a/App.svelte
  site/content/tutorial/10-transitions/09-key-blocks/app-b/App.svelte
  site/content/tutorial/10-transitions/09-key-blocks/text.md
Labels: docs

#5679 docs: fix heading level a11y issue
  site/content/docs/01-component-format.md
  site/src/routes/docs/index.svelte
Labels: site

#5640 docs: mention usage of regexp literal in text expressions
  site/content/docs/02-template-syntax.md
Labels: docs

#5945 Fix padding in svg bar chart example
  site/content/examples/12-svg/02-bar-chart/App.svelte
Labels: docs

#5262 Feature/smart site update
  site/README.md
  site/package-lock.json
  site/package.json
  site/scripts/get_contributors.js
  site/scripts/update.js
  site/scripts/update_template.js
Labels: site

#6547 [docs] Add clarification about reactivity and arrays
  site/content/docs/01-component-format.md
Labels: docs

#6566 [docs] add trusted modifier to list of modifiers in tutorial and docs
  site/content/docs/02-template-syntax.md
  site/content/tutorial/05-events/03-event-modifiers/text.md
Labels: docs
