Repository sveltejs/svelte, pull requests merged in 2021-06, with the labels that each got.

#5975 small fix to tutorial for nervous people like me
  site/content/tutorial/08-stores/01-writable-stores/app-a/App.svelte
  site/content/tutorial/08-stores/01-writable-stores/text.md
  site/content/tutorial/08-stores/02-auto-subscriptions/app-a/App.svelte
  site/content/tutorial/08-stores/02-auto-subscriptions/text.md
Labels: site: tutorial

#6376 Minor updates to tutorials
  site/content/tutorial/16-special-elements/05-svelte-body/app-a/App.svelte
  site/content/tutorial/16-special-elements/05-svelte-body/app-b/App.svelte
Labels: site: tutorial

#6206 docs: make yaml frontmatter in blogs valid
  site/content/blog/2016-11-26-frameworks-without-the-framework.md
  site/content/blog/2017-12-31-sapper-towards-the-ideal-web-app-framework.md
  site/content/blog/2019-04-22-svelte-3-rethinking-reactivity.md
  site/content/blog/2020-10-01-whats-new-in-svelte-october-2020.md
  site/content/blog/2020-11-01-whats-new-in-svelte-november-2020.md
  site/content/blog/2020-12-01-whats-new-in-svelte-december-2020.md
  site/content/blog/2021-01-01-whats-new-in-svelte-january-2021.md
  site/content/blog/2021-02-01-whats-new-in-svelte-february-2021.md
  site/content/blog/2021-03-01-whats-new-in-svelte-march-2021.md
  site/content/blog/2021-04-01-whats-new-in-svelte-april-2021.md
Labels: site: blog post

#6217 Add a more descriptive message for the error generated by an empty shorthand attribute
  src/compiler/parse/state/tag.ts
  test/parser/samples/error-empty-attribute-shorthand/error.json
  test/parser/samples/error-empty-attribute-shorthand/input.svelte
Labels: feature: compiler warning

#6438 docs: update documentation for preprocessor sourcemap output
  site/content/docs/04-compile-time.md
Labels: site: docs

#6415 update docs for style tag in elements
  site/content/docs/01-component-format.md
Labels: site: docs

#5316 list out all accessibility warnings in the docs
  site/content/docs/05-accessibility-warnings.md
Labels: site: docs

#6271 Add docs for compound :global selector
  site/content/docs/01-component-format.md
Labels: site: docs

#5790 Resized text area to improve visibility
  site/content/tutorial/06-bindings/05-textarea-inputs/app-a/App.svelte
  site/content/tutorial/06-bindings/05-textarea-inputs/app-b/App.svelte
Labels: site: tutorial

#5649 tutorial: add name attribute to inputs
  site/content/tutorial/06-bindings/04-group-inputs/app-a/App.svelte
  site/content/tutorial/06-bindings/04-group-inputs/app-b/App.svelte
  site/content/tutorial/06-bindings/04-group-inputs/text.md
Labels: site: tutorial

#5631 doc: Add notes to stress call-during-initialisation
  site/content/tutorial/15-context/01-context-api/text.md
Labels: site: tutorial

#5009 Add tutorial for component binding
  site/content/tutorial/06-bindings/14-component-this/app-a/App.svelte
  site/content/tutorial/06-bindings/14-component-this/app-a/InputField.svelte
  site/content/tutorial/06-bindings/14-component-this/app-b/App.svelte
  site/content/tutorial/06-bindings/14-component-this/app-b/InputField.svelte
  site/content/tutorial/06-bindings/14-component-this/text.md
Labels: feature: component binding, site: tutorial

#4715 remove console warnings in Special elements tutorial
  site/content/tutorial/16-special-elements/01-svelte-self/app-a/App.svelte
  site/content/tutorial/16-special-elements/01-svelte-self/app-a/Folder.svelte
  site/content/tutorial/16-special-elements/01-svelte-self/app-b/App.svelte
  site/content/tutorial/16-special-elements/01-svelte-self/app-b/Folder.svelte
  site/content/tutorial/16-special-elements/01-svelte-self/text.md
Labels: site: tutorial

#4060 Docs: Accurately name function
  site/content/tutorial/02-reactivity/01-reactive-assignments/app-b/App.svelte
  site/content/tutorial/02-reactivity/01-reactive-assignments/text.md
Labels: site: tutorial

#5382 site: fix falling back to default port
  site/src/server.js
Labels: site

#5515 tutorial: In the onDestroy example, explicitly show the memory leak
  site/content/tutorial/07-lifecycle/02-ondestroy/app-a/App.svelte
  site/content/tutorial/07-lifecycle/02-ondestroy/app-a/Timer.svelte
  site/content/tutorial/07-lifecycle/02-ondestroy/app-a/utils.js
  site/content/tutorial/07-lifecycle/02-ondestroy/app-b/App.svelte
  site/content/tutorial/07-lifecycle/02-ondestroy/app-b/Timer.svelte
  site/content/tutorial/07-lifecycle/02-ondestroy/text.md
Labels: site

#6196 Add documentation for crossfade
  site/content/docs/03-run-time.md
Labels: docs

#5825 clarified readonly prop access
  site/content/docs/01-component-format.md
Labels: docs

#5625 add typescript def for transitions
  src/runtime/internal/Component.ts
  src/runtime/internal/transitions.ts
  src/runtime/internal/utils.ts
Labels: runtime

#6065 Fix wrong "slot" property warning (runtime)
  src/compiler/compile/render_dom/index.ts
  test/js/samples/capture-inject-state/expected.js
  test/js/samples/debug-empty/expected.js
  test/js/samples/debug-foo-bar-baz-things/expected.js
  test/js/samples/debug-foo/expected.js
  test/js/samples/debug-hoisted/expected.js
  test/js/samples/debug-no-dependencies/expected.js
  test/js/samples/dev-warning-missing-data-computed/expected.js
  test/js/samples/loop-protect/expected.js
Labels: runtime

#6456 Rename menu item from API to Docs
  site/src/routes/_layout.svelte
Labels: site

#5938 check if mouse events are accompanied by key events
  src/compiler/compile/nodes/Element.ts
  test/validator/samples/a11y-mouse-events-have-key-events/input.svelte
  test/validator/samples/a11y-mouse-events-have-key-events/warnings.json
Labels: compiler

#4859 Add link to "good first issue" issues in Contributing Guide
  CONTRIBUTING.md
Labels: docs

#5124 Use the toggle attribute of the Todo components
  site/content/examples/21-miscellaneous/02-immutable-data/ImmutableTodo.svelte
  site/content/examples/21-miscellaneous/02-immutable-data/MutableTodo.svelte
Labels: docs
