Repository sveltejs/svelte, pull requests merged in 2021-04, with the labels that each got.

#6204 Improve SSR hydration performance
  CHANGELOG.md
  src/runtime/internal/Component.ts
  src/runtime/internal/dom.ts
Labels: feature: hydration

#6212 fix custombutton colors for a11y contrast
  site/content/tutorial/05-events/06-dom-event-forwarding/app-a/CustomButton.svelte
  site/content/tutorial/05-events/06-dom-event-forwarding/app-b/CustomButton.svelte
Labels: site: tutorial

#6161 Add link to SvelteKit to Svelte website.
  site/src/routes/_layout.svelte
Labels: site

#6219 Fix await block scope issue when update
  src/compiler/compile/render_dom/wrappers/AwaitBlock.ts
  src/runtime/internal/await_block.ts
  test/runtime/samples/await-with-update-catch-scope/_config.js
  test/runtime/samples/await-with-update-catch-scope/main.svelte
Labels: feature: await, triage: bug

#6201 make crossfade fallback param optional
  src/runtime/transition/index.ts
Labels: feature: transitions, feature: typescript
