Repository sveltejs/svelte, pull requests merged in 2021-12, with the labels that each got.

#6976 [docs] fix chat link
  site/package-lock.json
  site/package.json
  site/src/routes/__error.svelte
Labels: bug, docs

#6974 [site] only show 20 avatars instead of current massive wall
  site/scripts/get_contributors.js
  site/scripts/get_donors.js
  site/src/routes/_components/Contributors.svelte
  site/src/routes/_components/Donors.svelte
  site/src/routes/index.svelte
Labels: site

#6808 [chore] Make changing the name of a REPL obvious
  site/src/routes/repl/[id]/_components/AppControls/index.svelte
Labels: site

#6153 [feat] Track unsaved files in REPL
  site/package-lock.json
  site/package.json
  site/src/routes/repl/[id]/_components/AppControls/index.svelte
  site/src/routes/repl/[id]/index.svelte
Labels: site

#6806 [docs] simplify template literals to string primitives
  site/content/tutorial/02-reactivity/03-reactive-statements/app-b/App.svelte
  site/content/tutorial/02-reactivity/03-reactive-statements/text.md
Labels: docs

#7033 [docs] fix path to /tutorial/image.gif
  site/content/examples/00-introduction/01-dynamic-attributes/App.svelte
  site/content/tutorial/01-introduction/03-dynamic-attributes/app-a/App.svelte
  site/content/tutorial/01-introduction/03-dynamic-attributes/app-b/App.svelte
Labels: docs

#7054 [docs] Updated link to the ease visualizer in the docs
  site/content/blog/2021-03-01-whats-new-in-svelte-march-2021.md
  site/content/docs/03-run-time.md
Labels: docs
