Repository sveltejs/svelte, pull requests merged in 2022-08, with the labels that each got.

#5323 Recursively check label children for input control
  src/compiler/compile/nodes/Element.ts
  test/validator/samples/a11y-label-has-associated-control-2/input.svelte
  test/validator/samples/a11y-label-has-associated-control-2/warnings.json
  test/validator/samples/a11y-label-has-associated-control/input.svelte
  test/validator/samples/a11y-label-has-associated-control/warnings.json
Labels: compiler

#7706 [fix] Improve performance by using trimRight() instead of regex replace
  src/compiler/compile/render_ssr/index.ts
  src/compiler/parse/index.ts
Labels: perf

#7802 [docs] clarify reactivity rules
  site/content/docs/01-component-format.md
Labels: docs
