Repository sveltejs/svelte, pull requests merged in 2022-07, with the labels that each got.

#6770 [feat] add convenience types ComponentType and ComponentProps
  CHANGELOG.md
  generate-type-definitions.js
  package-lock.json
  package.json
  src/runtime/index.ts
  src/runtime/internal/dev.ts
Labels: runtime

#5852 a11y: Add role-has-required-aria-props rule
  package-lock.json
  package.json
  site/content/docs/05-accessibility-warnings.md
  src/compiler/compile/compiler_warnings.ts
  src/compiler/compile/nodes/Element.ts
  test/validator/samples/a11y-no-redundant-roles/warnings.json
  test/validator/samples/a11y-role-has-required-aria-props/input.svelte
  test/validator/samples/a11y-role-has-required-aria-props/warnings.json
Labels: compiler

#6241 [feat] add a11y check on abstract roles
  src/compiler/compile/compiler_warnings.ts
  src/compiler/compile/nodes/Element.ts
  test/validator/samples/a11y-no-abstract-roles/input.svelte
  test/validator/samples/a11y-no-abstract-roles/warnings.json
Labels: compiler

#7467 [docs] update intro sentence of reactive declarations tutorial
  site/content/tutorial/02-reactivity/02-reactive-declarations/text.md
Labels: docs

#7697 [docs] update port in "Svelte for new developers" blog.
  site/content/blog/2019-04-16-svelte-for-new-developers.md
Labels: docs
