Repository sveltejs/svelte, pull requests merged in 2023-04, with the labels that each got.

#7224 feat: improve types for `createEventDispatcher`
  .github/workflows/ci.yml
  CHANGELOG.md
  package.json
  src/runtime/internal/lifecycle.ts
  test/types/create-event-dispatcher.ts
  test/types/tsconfig.json
Labels: typescript, breaking change

#7442 breaking: conditional ActionReturn type if Parameter is void
  CHANGELOG.md
  src/runtime/action/index.ts
  src/runtime/internal/lifecycle.ts
  test/types/actions.ts
Labels: typescript, breaking change

#8251 feat: add `a11y-no-static-element-interactions` compiler rule
  src/compiler/compile/compiler_warnings.ts
  src/compiler/compile/nodes/Element.ts
  src/compiler/compile/utils/a11y.ts
  test/validator/samples/a11y-click-events-have-key-events/input.svelte
  test/validator/samples/a11y-click-events-have-key-events/warnings.json
  test/validator/samples/a11y-mouse-events-have-key-events/input.svelte
  test/validator/samples/a11y-mouse-events-have-key-events/warnings.json
  test/validator/samples/a11y-no-static-element-interactions/input.svelte
  test/validator/samples/a11y-no-static-element-interactions/warnings.json
  test/validator/samples/slot-warning-ignore/input.svelte
  test/validator/samples/slot-warning/input.svelte
  test/validator/samples/slot-warning/warnings.json
  test/validator/samples/slot-warning2/input.svelte
  test/validator/samples/slot-warning2/warnings.json
Labels: a11y

#8136 fix: update onMount type definition to prevent async function return
  CHANGELOG.md
  src/runtime/internal/lifecycle.ts
  test/types/actions.ts
  test/types/create-event-dispatcher.ts
  test/types/on-mount.ts
Labels: typescript, breaking change

#8477 docs: clarify statement about initial values for props
  site/content/docs/02-component-format.md
Labels: docs

#8512 breaking: deprecate SvelteComponentTyped, add generics to SvelteComponent
  CHANGELOG.md
  elements/index.d.ts
  src/runtime/internal/dev.ts
Labels: breaking change
