Repository sveltejs/svelte, pull requests merged in 2023-06, with the labels that each got.

#8775 breaking: use `CustomEvent` constructor instead of deprecated `createEvent` method
  .changeset/odd-wasps-smoke.md
  documentation/docs/05-misc/04-v4-migration-guide.md
  packages/svelte/src/runtime/internal/dom.js
Labels: breaking change

#8788 docs: list minimum versions for r-p-s and svelte-loader
  documentation/docs/05-misc/04-v4-migration-guide.md
Labels: docs

#8802 docs: fix style directive with important modifier typo
  documentation/docs/02-template-syntax/05-element-directives.md
Labels: docs

#8766 blog: svelte.dev overhaul
  documentation/blog/2023-06-29-svelte-dev-overhaul.md
Labels: site
