Repository sveltejs/svelte, pull requests merged in 2023-05, with the labels that each got.

#7947 fix: allow $store to be used with changing values including nullish values
  CHANGELOG.md
  src/runtime/internal/utils.ts
  src/runtime/store/index.ts
  test/runtime/samples/store-auto-subscribe-removed-store/_config.js
  test/runtime/samples/store-auto-subscribe-removed-store/main.svelte
  test/store/index.js
Labels: breaking change

#8566 fix: set verison to 4, remove engines.pnpm and bump engines.node to >=16
  .github/workflows/ci.yml
  CHANGELOG.md
  package.json
Labels: breaking change

#8574 fix(site-2): Remove marked warnings
  sites/svelte.dev/src/lib/server/markdown/index.js
Labels: site

#8452 feat(site-2): TS in docs
  site/content/docs/02-template-syntax/01-svelte-components.md
  site/content/docs/02-template-syntax/05-element-directives.md
  site/content/docs/02-template-syntax/07-special-elements.md
  site/content/docs/03-runtime/01-svelte.md
  site/content/docs/03-runtime/02-svelte-store.md
  site/content/docs/03-runtime/03-svelte-motion.md
  site/content/docs/03-runtime/04-svelte-transition.md
  site/content/docs/03-runtime/05-svelte-animate.md
  site/content/docs/03-runtime/07-actions.md
  site/content/docs/03-runtime/07-svelte-action.md
  site/content/docs/04-compiler-and-api/01-svelte-compiler.md
  site/content/docs/04-compiler-and-api/02-client-side-component-api.md
  site/content/docs/04-compiler-and-api/03-server-side-component-api.md
  site/content/docs/04-compiler-and-api/04-custom-elements-api.md
  site/content/docs/05-misc/02-typescript.md
  site/content/docs/06-legacy/01-svelte-register.md
  sites/svelte.dev/.gitignore
  sites/svelte.dev/package-lock.json
  sites/svelte.dev/package.json
  sites/svelte.dev/scripts/generate_examples.js
  sites/svelte.dev/scripts/type-gen/compile-types.js
  sites/svelte.dev/scripts/type-gen/dts-sources/action.d.ts
  sites/svelte.dev/scripts/type-gen/dts-sources/animate.d.ts
  sites/svelte.dev/scripts/type-gen/dts-sources/compiler.d.ts
  sites/svelte.dev/scripts/type-gen/dts-sources/easing.d.ts
  sites/svelte.dev/scripts/type-gen/dts-sources/index.d.ts
  sites/svelte.dev/scripts/type-gen/dts-sources/motion.d.ts
  sites/svelte.dev/scripts/type-gen/dts-sources/store.d.ts
  sites/svelte.dev/scripts/type-gen/dts-sources/transition.d.ts
  sites/svelte.dev/scripts/type-gen/index.js
  sites/svelte.dev/src/app.html
  sites/svelte.dev/src/lib/server/docs/index.js
  sites/svelte.dev/src/lib/server/docs/render.js
  sites/svelte.dev/src/lib/server/markdown/index.js
  sites/svelte.dev/src/lib/utils/Tooltip.svelte
  sites/svelte.dev/src/lib/utils/hovers.js
  sites/svelte.dev/src/routes/content.json/content.server.js
  sites/svelte.dev/src/routes/docs/+layout.svelte
  sites/svelte.dev/src/routes/docs/+page.server.js
  sites/svelte.dev/src/routes/docs/[slug]/+page.svelte
  sites/svelte.dev/src/routes/docs/[slug]/OnThisPage.svelte
  sites/svelte.dev/src/routes/search/+page.svelte
Labels: site, docs

#8596 docs: update SvelteKit alternatives section
  documentation/content/docs/01-getting-started/01-introduction.md
  documentation/content/faq/900-is-there-a-router.md
Labels: docs

#8618 feat: change preprocessor ordering, allow attributes modification
  CHANGELOG.md
  site/content/docs/05-compile-time.md
  src/compiler/preprocess/index.js
  src/compiler/preprocess/public.d.ts
  test/preprocess/preprocess.test.js
  test/preprocess/samples/multiple-preprocessors/_config.js
  test/preprocess/samples/multiple-preprocessors/output.svelte
  test/preprocess/samples/script/_config.js
  test/preprocess/samples/script/expected_map.json
  test/preprocess/samples/style-attributes-modified-longer/_config.js
  test/preprocess/samples/style-attributes-modified-longer/expected_map.json
  test/preprocess/samples/style-attributes-modified-longer/input.svelte
  test/preprocess/samples/style-attributes-modified-longer/output.svelte
  test/preprocess/samples/style-attributes-modified/_config.js
  test/preprocess/samples/style-attributes-modified/expected_map.json
  test/preprocess/samples/style-attributes-modified/input.svelte
  test/preprocess/samples/style-attributes-modified/output.svelte
  test/preprocess/samples/style-attributes/expected_map.json
  test/preprocess/samples/style-attributes/input.svelte
Labels: breaking change

#8628 feat: apply inert to outroing elements
  CHANGELOG.md
  src/runtime/internal/transitions.js
  test/runtime/samples/transition-inert/_config.js
  test/runtime/samples/transition-inert/main.svelte
Labels: breaking change

#8629 fix(perf): use classList.toggle instead of add/remove
  CHANGELOG.md
  src/runtime/internal/dom.js
Labels: breaking change

#8632 feat: make transitions local by default
  CHANGELOG.md
  site/content/docs/03-template-syntax.md
  src/compiler/compile/nodes/Transition.js
  src/compiler/compile/render_dom/wrappers/Element/index.js
  test/js/samples/transition-local/input.svelte
  test/js/samples/transition-repeated-outro/input.svelte
  test/runtime/samples/dynamic-element-transition/main.svelte
  test/runtime/samples/transition-js-await-block-outros/main.svelte
  test/runtime/samples/transition-js-await-block/main.svelte
  test/runtime/samples/transition-js-each-block-intro/main.svelte
  test/runtime/samples/transition-js-each-block-keyed-intro-outro/main.svelte
  test/runtime/samples/transition-js-each-block-keyed-intro/main.svelte
  test/runtime/samples/transition-js-if-block-in-each-block-bidi/main.svelte
  test/runtime/samples/transition-js-if-else-block-intro/main.svelte
  test/runtime/samples/transition-js-intro-enabled-by-option/main.svelte
  test/runtime/samples/transition-js-local-and-global/main.svelte
  test/runtime/samples/transition-js-local/main.svelte
  test/runtime/samples/transition-js-nested-await/main.svelte
  test/runtime/samples/transition-js-nested-each-keyed/main.svelte
  test/runtime/samples/transition-js-nested-each/main.svelte
  test/runtime/samples/transition-js-nested-if/main.svelte
Labels: breaking change
