Repository sveltejs/svelte, pull requests merged in 2023-07, with the labels that each got.

#8782 feat: On this page mobile
  pnpm-lock.yaml
  sites/svelte.dev/package.json
  sites/svelte.dev/src/routes/docs/+layout.svelte
  sites/svelte.dev/src/routes/docs/[slug]/+page.svelte
Labels: site

#8927 docs: preprocessor migration details
  documentation/docs/05-misc/04-v4-migration-guide.md
Labels: docs

#8937 docs: Make "unquoted" example actually unquoted
  documentation/docs/02-template-syntax/02-basic-markup.md
Labels: docs

#8977 fix: css in examples directory.
  documentation/examples/06-lifecycle/02-update/App.svelte
Labels: docs

#8948 perf: optimize imports that are not mutated or reassigned
  .changeset/shaggy-pans-repair.md
  packages/svelte/src/compiler/compile/Component.js
  packages/svelte/src/compiler/compile/internal_exports.js
  packages/svelte/src/compiler/compile/nodes/shared/Expression.js
Labels: perf

#9047 docs: clarify performance concerns around props and restProps
  documentation/docs/02-template-syntax/02-basic-markup.md
Labels: docs

#9040 docs: update component directives page
  documentation/docs/02-template-syntax/06-component-directives.md
Labels: docs
