Repository sveltejs/svelte, pull requests merged in 2023-03, with the labels that each got.

#8167 feat: add a11y `no-noninteractive-element-to-interactive-role`
  site/content/docs/06-accessibility-warnings.md
  src/compiler/compile/compiler_warnings.ts
  src/compiler/compile/nodes/Element.ts
  src/compiler/compile/utils/a11y.ts
  test/validator/samples/a11y-no-interactive-element-to-noninteractive-role/input.svelte
  test/validator/samples/a11y-no-interactive-element-to-noninteractive-role/warnings.json
  test/validator/samples/a11y-no-noninteractive-element-to-interactive-role/input.svelte
  test/validator/samples/a11y-no-noninteractive-element-to-interactive-role/warnings.json
Labels: a11y

#7623 feat: css units in fly & blur transitions
  site/content/docs/04-run-time.md
  src/runtime/internal/utils.ts
  src/runtime/transition/index.ts
  test/utils/index.ts
Labels: transition/animation

#4291 feat: `bind:innerText` for `contenteditable`
  elements/index.d.ts
  site/content/docs/03-template-syntax.md
  site/content/tutorial/06-bindings/08-contenteditable-bindings/text.md
  src/compiler/compile/compiler_errors.ts
  src/compiler/compile/nodes/Element.ts
  src/compiler/compile/render_dom/wrappers/Element/Binding.ts
  src/compiler/compile/render_dom/wrappers/Element/index.ts
  src/compiler/compile/render_ssr/handlers/Element.ts
  src/compiler/compile/utils/__test__.ts
  src/compiler/compile/utils/contenteditable.ts
  test/runtime/samples/binding-contenteditable-innertext/_config.js
  test/runtime/samples/binding-contenteditable-innertext/main.svelte
  test/validator/samples/a11y-contenteditable-element-without-child/errors.json
  test/validator/samples/contenteditable-missing/errors.json
Labels: compiler

#8275 feat: `container` query support via `css-tree` extension
  src/compiler/compile/css/Stylesheet.ts
  src/compiler/parse/read/css-tree-cq/css_tree_parse.ts
  src/compiler/parse/read/css-tree-cq/node/comparison.ts
  src/compiler/parse/read/css-tree-cq/node/container_feature.ts
  src/compiler/parse/read/css-tree-cq/node/container_feature_range.ts
  src/compiler/parse/read/css-tree-cq/node/container_feature_style.ts
  src/compiler/parse/read/css-tree-cq/node/container_query.ts
  src/compiler/parse/read/css-tree-cq/node/query_css_function.ts
  src/compiler/parse/read/style.ts
  test/css/samples/container-query/expected.css
  test/css/samples/container-query/input.svelte
Labels: blocked by upstream
